@model bool
@if (Model)
{
    <a id="favourites" class="button big secondary wfav">
        <span class="icon-heart"></span>
        <span class="fav-count">652</span>
        Yêu thích
    </a>
}
else
{
    <a id="favourites" class="button big secondary wfav" style="background-color:grey">
        <span class="icon-heart"></span>
        <span class="fav-count">652</span>
        Yêu thích
    </a>
}

